<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://59.110.242.8:3306/we_base?useSSL=false&characterEncoding=utf8"/>
                <property name="username" value="root"/>
                <property name="password" value="123$%^qwE"/>
            </dataSource>
        </environment>
    </environments>
    <!-- mybatis-config.xml -->
    <!--<typeHandlers>-->
    <!--<typeHandler handler="org.mybatis.example.ExampleTypeHandler"/>-->
    <!--</typeHandlers>-->
    <!-- mybatis-config.xml -->
    <!--<typeHandlers>-->
    <!--<package name="org.mybatis.example"/>-->
    <!--</typeHandlers>-->
    <typeAliases>
        <typeAlias type="org.sample.MyLanguageDriver" alias="myLanguage"/>
    </typeAliases>
    <mappers>
        <package name="com.example.ddd.mybatis.builder"/>
    </mappers>
    <settings>
        <setting name="defaultScriptingLanguage" value="myLanguage"/>
        <!--<setting name="cacheEnabled" value="true"/>-->
        <!--<setting name="lazyLoadingEnabled" value="true"/>-->
        <!--<setting name="multipleResultSetsEnabled" value="true"/>-->
        <!--<setting name="useColumnLabel" value="true"/>-->
        <!--<setting name="useGeneratedKeys" value="false"/>-->
        <!--<setting name="autoMappingBehavior" value="PARTIAL"/>-->
        <!--<setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>-->
        <!--<setting name="defaultExecutorType" value="SIMPLE"/>-->
        <!--<setting name="defaultStatementTimeout" value="25"/>-->
        <!--<setting name="defaultFetchSize" value="100"/>-->
        <!--<setting name="safeRowBoundsEnabled" value="false"/>-->
        <!--<setting name="mapUnderscoreToCamelCase" value="false"/>-->
        <!--<setting name="localCacheScope" value="SESSION"/>-->
        <!--<setting name="jdbcTypeForNull" value="OTHER"/>-->
        <!--<setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>-->
    </settings>


</configuration>


